<div class="p20">
    <div class="pb20">
        <h1 class="mb10">팝업</h1>
        <dl>
            <dt class="bold mb10">사용법</dt>
            <dd class="font--1rem">1. 키보드 <kbd>ESC</kbd> 닫기</dd>
            <dd class="font--1rem">2. 팝업 외부 클릭시 닫기</dd>
            <dd class="font--1rem">3. 버튼 클릭시 부모에서 호출시 넘긴 콜백함수 실행(ok콜백, cancel콜백)</dd>
            <dd class="font--1rem">4. 팝업 내부 스타일 자유</dd>
            <dd class="font--1rem">5. 팝업 기본 사이즈는 내부 콘텐츠 크기에 맞게 유동적이고 또한 팝업 호출시 고정 크기 지정 가능</dd>
            <dd class="font--1rem">6. 팝업에 팝업 오픈 가능</dd>
        </dl>
    </div>
    <button class="btn-tag radi-3em" ng-click="openDialog()">popup</button>
    <button class="btn-tag radi-3em" ng-click="ok()">ok</button>
    <button class="btn-tag radi-3em" ng-click="cancel()">cancel</button>
</div>