<main class="content-main">
    <article class="usage">
        <dl>
            <dt>모듈명 : Vin Loader</dt>
            <dd>설명 : 로딩이미지를 대신하기 위한 인터랙티브 CSS3 로딩컨텐츠 입니다.</dd>
        </dl>
        <dl>
            <dt>Load Files :</dt>
            <dd>vin-loader/vin-loader.css</dd>
            <dd>vin-loader/vin-loader.js</dd>
        </dl>
        <dl>
            <dt>Inject Module :</dt>
            <dd>'vinLoader'</dd>
        </dl>
        <dl>
            <dt>Demos : </dt>
            <dd>버튼을 클릭하세요.</dd>
        </dl>
    </article>
    <button class="btn-tag radi-3em" ng-click="exeLoader()">Loader</button>
</main>