<main class="content-main">
    <article class="usage">
        <dl>
            <dt>모듈명 : Vin Notify</dt>
            <dd>설명 : 심플하게 컨트롤러에서 alert(), confirm()등을 대체할만한 팝업UI의 Notify 창입니다.</dd>
        </dl>
        <dl>
            <dt>Load Files :</dt>
            <dd>vin-notify/vin-notify.css</dd>
            <dd>vin-notify/vin-notify.js</dd>
        </dl>
        <dl>
            <dt>Inject Module :</dt>
            <dd>'vinNotify'</dd>
        </dl>
        <dl>
            <dt>Demos : </dt>
            <dd>버튼을 클릭하세요.</dd>
        </dl>
    </article>
    <ul class="child-mv10">
        <li><button class="btn-tag radi-3em" ng-click="alertNotify()">Notify Alert</button></li>
        <li><button class="btn-tag radi-3em" ng-click="confirmNotify()">Notify Confirm</button></li>
        <li><button class="btn-tag radi-3em" ng-click="errorNotify()">Notify Error</button></li>
        <li><button class="btn-tag radi-3em" ng-click="alertNotifyOnStyle()">Notify Custom Style Alert</button></li>
        
    </ul>
</main>