<main class="content-main">
    <article class="usage">
        <dl>
            <dt>모듈명 : Vin Peek</dt>
            <dd>설명 : 다중Depth로 이루어져있는 데이터를 쉽게 선택하기위한 선택박스입니다.</dd>
        </dl>
        <dl>
            <dt>Load Files :</dt>
            <dd>vin-peek/vin-peek.css</dd>
            <dd>vin-peek/vin-peek.js</dd>
        </dl>
        <dl>
            <dt>Inject Module :</dt>
            <dd>'vinPeek'</dd>
        </dl>
        <dl>
            <dt>Demos : </dt>
            <dd>버튼 연속 선택</dd>
        </dl>
    </article>
    <div vin-peek style="margin-left:100px;">
        <button class="btn-tag radi-3em" peek-action="hover">down</button>
        <div class="peek-panel">
            <ul class="peek-list">
                <li vin-peek="down">
                    <a href="" peek-action="hover">
                        down
                        <!--<span class="arrow arrow-d"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
                <li vin-peek="down-right">
                    <a href="" peek-action="hover">
                        down-right
                        <!--<span class="arrow arrow-d"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
                <li vin-peek="up">
                    <a href="" peek-action="hover">
                        up
                        <!--<span class="arrow arrow-u"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
                <li vin-peek="up-right">
                    <a href="" peek-action="hover">
                        up-right
                        <!--<span class="arrow arrow-u"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
                <li vin-peek="left">
                    <a href="" peek-action="hover">
                        left
                        <!--<span class="arrow arrow-l"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
                <li vin-peek="right">
                    <a href="" peek-action="hover">
                        right
                        <!--<span class="arrow arrow-r"></span>-->
                    </a>
                    <div class="peek-panel">
                        <ul class="peek-list">
                            <li vin-peek="right">
                                <a href="" peek-action="hover">
                                    right
                                    <!--<span class="arrow arrow-r"></span>-->
                                </a>
                                <div class="peek-panel">
                                    <ul class="peek-list">
                                        <li><a href="">list</a></li>
                                        <li vin-peek="right">
                                            <a href="" peek-action="hover">
                                                right
                                                <!--<span class="arrow arrow-r"></span>-->
                                            </a>
                                            <div class="peek-panel">
                                                <ul class="peek-list">
                                                    <li><a href="">list</a></li>
                                                    <li><a href="">list</a></li>
                                                    <li><a href="">list</a></li>
                                                    <li><a href="">list</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="">list</a></li>
                                        <li><a href="">list</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                            <li><a href="">list</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>